/******************GRID PARAMETRS**********/

* {
  box-sizing: border-box;
}
.container {
  width: 960px;
  margin: auto;
}
html,
body {
  display: table;
  height: 100%;
  width: 100%;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11 {
  float: left;
  min-height: 1px;
}
.offset-col-1 {
  margin-left: 8.33333333%;
}
.offset-col-2 {
  margin-left: 16.66666667%;
}
.offset-col-3 {
  margin-left: 25%;
}
.offset-col-4 {
  margin-left: 33.33333333%;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.header::after,
.top::after,
.container::after,
.row::after,
.clearfix::after,
.main::after,
.footer::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
.inline-block {
  display: inline-block;
}
.centredY {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.centredX {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.centredXY {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.relative {
  position: relative;
}
/********TEMPLATE*********/
.bg-pic-blue {
  background: url(../img/bg-personal-cabinet.jpg);
  background-size: cover;
}
.bg-lighten {
  background-color: #fafafa;
}
.bg-darken {
  background-color: #4372a4;
  color: white;
}
.bg-darken .main-menu a {
  color: white;
}
.bg-darken .main-menu a:hover {
  color: white;
}
.search-field__img {
  margin-top: 40px;
}
.search-field__img input {
  font-size: 20px;
  border-bottom: 1px solid #3a638f;
  opacity: 0;
}
.search-field__img input:hover {
  border-bottom: 1px solid #3a638f;
}
.search-field__img::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background: url(../img/search.png) no-repeat;
  vertical-align: bottom;
}
input,
textarea {
  width: 100%;
  padding: 10px;
}
input:last-child,
textarea:last-child {
  margin-bottom: 0;
}
input:focus,
textarea:focus {
  border: 1px solid #043555;
}
/*********TYPOGRAPHY**********/

body {
  color: #212121;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
h1,
.h1 {
  font-size: 40px;
}
h2,
.h2 {
  font-size: 36px;
}
h3,
.h3 {
  font-size: 30px;
}
h4,
.h4 {
  font-size: 24px;
}
h5,
.h5 {
  font-size: 20px;
}
h6,
.h6 {
  font-size: 18px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 300;
}
h6.small,
.h6.small {
  font-size: 13px;
}
p {
  margin: 15px 0;
  line-height: 26px;
}
p.smaller {
  font-size: 12px;
}
a {
  text-decoration: none;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center!important;
}
.text-smaller {
  font-size: 12px;
}
ul,
ol,
dl {
  margin: 0;
  padding: 0;
}
ul.list-unstyled li {
  list-style: none;
}
ul.list-inline li {
  display: inline-block;
}
.colored {
  color: #3a638f;
}
.colored-h {
  color: #043555;
}
.bold {
  font-weight: 700;
}
.reg {
  font-weight: 400;
}
/*********GENERAL*********/

input,
textarea {
  border: 1px solid transparent;
  outline: none;
}
input:focus,
textarea:focus {
  outline: none;
}
textarea {
  resize: none;
}
.btn {
  display: inline-block;
  text-align: center;
}
.btn-brd {
  border: 1px solid white;
  min-width: 100px;
  padding: 5px 0;
  background: none;
}
.btn-brd:hover {
  color: #3a638f;
  border: 1px solid #3a638f;
}
.link {
  color: #3a638f;
  text-decoration: underline;
}
.link:hover {
  text-decoration: none;
}
.link:visited {
  color: #043555;
}
.link_white {
  color: white;
  text-decoration: underline;
}
.link_white:hover {
  text-decoration: none;
}
.link_white:visited {
  color: #f2f2f2;
}
.link_gray {
  color: #212121;
}
.link_gray:hover {
  color: #3a638f;
}
.w-link {
  color: white;
}
.w-link:hover {
  color: #3a638f;
}
.link-angle {
  position: relative;
  padding-right: 30px;
  color: #3a638f;
}
.link-angle::before {
  content: '►';
  position: absolute;
  right: 5px;
  bottom: 2px;
  padding: 3px 4px;
  color: white;
  font-size: 7px;
  line-height: 8px;
  background-color: #4372a4;
}
.link-angle:hover {
  text-decoration: underline;
}
.link-angle_white::before {
  content: '►';
  color: #4372a4;
  font-size: 10px;
  background-color: transparent;
}
.link-angle_light {
  content: '►';
  color: white;
}
.link-angle_light::before {
  content: '►';
  color: white;
  background-color: transparent;
}
.ask-call {
  color: #3a638f;
  text-decoration: underline;
  text-decoration: none;
}
.ask-call:hover {
  text-decoration: underline;
}
.ask-call::before {
  content: '';
  display: inline-block;
  width: 31px;
  height: 32px;
  background: url(../img/fs-phone.png) no-repeat;
  vertical-align: middle;
}
.btn-send {
  padding: 5px 20px;
  color: #3a638f;
  border: 1px solid #3a638f;
}
.btn-send:hover {
  color: white;
  background: #3a638f;
}
.wrap-a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.more a {
  display: block;
  width: 100%;
  padding: 50px 0;
  color: black;
  background-color: #f0f0f0;
}
.more a:hover {
  background-color: #d6d6d6;
}
.header {
  padding: 14px 0;
  color: white;
  background-color: #4372a4;
}
.header .question {
  position: relative;
  padding-left: 30px;
}
.header .question::before {
  content: '?';
  position: absolute;
  top: -2px;
  left: 0;
  padding: 1px 7px;
  border: 1px solid white;
  border-radius: 50%;
}
.header .question:hover::before {
  color: #3a638f;
  text-decoration: none;
  background: white;
}
.header a {
  color: white;
}
.header a:hover {
  text-decoration: underline;
}
.header a:hover::before {
  text-decoration: none;
}
.top {
  margin: 35px 0 75px 0;
}
.content {
  margin-top: 60px;
  margin-bottom: 60px;
}
.main-menu {
  padding-top: 35px;
}
.main-menu li {
  margin: 10px 25px 10px 0;
}
.main-menu a {
  margin-bottom: 30px;
  color: #212121;
  text-transform: uppercase;
}
.main-menu a:hover {
  color: #3a638f;
  text-decoration: underline;
}
.one-news {
  position: relative;
  margin-bottom: 60px;
}
.one-news:hover .link {
  text-decoration: none;
}
.one-news .link-news {
  position: absolute;
  width: 100%;
  height: 100%;
}
.one-news .data {
  margin: 0;
  color: #a4a4a4;
  font-size: 12px;
}
.one-news .img-prev {
  padding-right: 60px;
}
.one-news img {
  width: 63px;
  height: 63px;
  border-radius: 50%;
}
.news-inside {
  margin-bottom: 75px;
}
.news-inside img {
  float: left;
  margin-top: 10px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.entered {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.entered h4 {
  margin: 0 0 20px 0;
}
.entered .block-window {
  padding: 25px 55px;
  color: white;
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 10px;
}
.entered .block-window .field {
  width: 100%;
  margin: 15px 0;
  padding: 10px 0;
  color: white;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid white;
  border-left: none;
  background: none;
  /* Firefox 19+ */

  /* Firefox 18- */

}
.entered .block-window .field::-webkit-input-placeholder {
  color: white;
}
.entered .block-window .field::-moz-placeholder {
  color: white;
}
.entered .block-window .field:-moz-placeholder {
  color: white;
}
.entered .block-window .field:-ms-input-placeholder {
  color: white;
}
.entered .block-window .field-sbmt {
  margin-top: 30px;
}
.entered .block-window .field-sbmt input {
  width: 30%;
}
.diagnosis {
  margin-bottom: 80px;
}
.diagnosis .col-6 {
  position: relative;
}
.diagnosis .link-angle {
  display: inline-block;
  margin-top: 20px;
}
.diagnosis .col-6:first-child {
  padding-right: 10px;
}
.diagnosis .col-6:last-child {
  padding-left: 10px;
}
.diagnosis.col-6:hover .link-angle {
  text-decoration: underline;
}
.treatment .brain::before,
.treatment .spine::before,
.treatment .lungs::before,
.treatment .kidneys::before,
.treatment .liver::before,
.treatment .prostate::before {
  content: '';
  display: inline-block;
  width: 86px;
  height: 88px;
  margin-right: 30px;
  background: url(../img/treatment-sprite.png);
  vertical-align: middle;
}
.treatment .brain::before {
  background-position: 0 0;
}
.treatment .brain:hover::before {
  background-position: 0 -95px;
}
.treatment .spine::before {
  background-position: -90px 0;
}
.treatment .spine:hover::before {
  background-position: -90px -95px;
}
.treatment .lungs::before {
  background-position: -180px 0;
}
.treatment .lungs:hover::before {
  background-position: -181px -95px;
}
.treatment .kidneys::before {
  background-position: -270px 0;
}
.treatment .kidneys:hover::before {
  background-position: -270px -95px;
}
.treatment .liver::before {
  background-position: -360px 0;
}
.treatment .liver:hover::before {
  background-position: -360px -95px;
}
.treatment .prostate::before {
  background-position: -450px 0;
}
.treatment .prostate:hover::before {
  background-position: -450px -94px;
}
.treatment .row {
  margin-bottom: 60px;
}
.treatment a {
  font-weight: 700;
}
.partners {
  padding-bottom: 90px;
}
.partners .col-9 {
  font-weight: 300;
}
.bg-partners {
  background: url(../img/bg-partners.jpg);
  border-top: 1px solid #4372a4;
}
.services .row {
  min-height: 300px;
}
.services .row:last-of-type {
  margin-bottom: 60px;
}
.services .row .col-7,
.services .row .col-5 {
  height: 100%;
}
/*--PRICES--*/

.table-price {
  width: 100%;
}
.procedure-name {
  text-align: center;
}
.table-price tr:not(.procedure-name) {
  padding: 10px 0 30px 0;
}
.table-price tr:not(.procedure-name) td,
.table-price th {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-left: 10px;
  text-align: left;
}
.table-price tr:nth-child(odd) {
  background-color: #ededed;
}
.table-price td:nth-child(2),
.table-price td:nth-child(3) {
  font-size: 13px;
}
.table-price tr td:nth-child(6) {
  text-align: center!important;
}
/*---INDEX--*/

.simp-block {
  padding: 85px 0 45px 0;
}
.bg-index {
  background: url(../img/bg-index.jpg) no-repeat;
}
.tx-val {
  margin-top: 160px;
  margin-bottom: 50px;
}
.our-specialist {
  background: url(../img/bg-spec.jpg) no-repeat;
  background-size: cover;
}
.spec-slider img {
  border-radius: 50%;
}
.all-spec {
  margin: 75px 0 0 0;
}
.bg-instr {
  padding: 140px 0 70px 0;
  background: url(../img/bg-instr.jpg) no-repeat;
  background-size: cover;
}
.field {
  margin: 10px 0;
}
.field:last-child {
  margin-bottom: 0;
}
/*----ABOUT-CENTER----*/

.bg-about {
  background: url(../img/bg-big.jpg) repeat-y;
  background-size: cover;
}
.about {
  padding-top: 40px;
  padding-bottom: 40px;
}
.about .row {
  margin-top: 80px;
  margin-bottom: 80px;
}
.about .row:last-child {
  margin-top: 150px;
}
.about .for-img {
  position: relative;
  -webkit-transform: perspective(100px) rotate3d(0, -1, 0, -3deg);
  -ms-transform: perspective(100px) rotate3d(0, -1, 0, -3deg);
  transform: perspective(100px) rotate3d(0, -1, 0, -3deg);
}
.about .for-img img {
  max-width: 100%;
}
.about .for-img::after {
  content: '';
  display: block;
  position: absolute;
  top: -15px;
  left: 20px;
  width: 100%;
  height: 100%;
  background-color: rgba(206, 231, 250, 0.42);
  -webkit-transform: perspective(100px) rotate3d(0, -1, 0, 0deg);
  -ms-transform: perspective(100px) rotate3d(0, -1, 0, 0deg);
  transform: perspective(100px) rotate3d(0, -1, 0, 0deg);
}
.vacancy {
  padding-top: 40px;
  padding-bottom: 80px;
}
.vacancy img {
  margin-top: 38px;
}
/*--______MAP--_____*/

.mapping {
  color: white;
  background-color: #3a638f;
}
.mapping .blue-block {
  position: relative;
  float: left;
  width: 42.1875%;
  height: 600px;
  min-width: 330px;
}
.mapping .blue-block .contacts {
  position: absolute;
  right: 0;
  width: 332px;
  padding-right: 60px;
  background-color: #3a638f;
}
.mapping #map_canvas {
  float: left;
  width: 57.8125%;
  height: 600px;
}
.mapping h3 {
  margin: 0;
}
.mapping p {
  font-weight: 300;
}
/*------FOOTER-------*/

.footer {
  padding: 16px 0;
  color: #ece6e9;
  background-color: #212121;
}
.footer .cabinet {
  text-decoration: underline;
}
.footer .cabinet:hover {
  color: #3a638f;
  text-decoration: none;
}
.footer div {
  min-height: 50px;
  display: table;
}
.footer div .table-cell {
  display: table-cell;
  vertical-align: middle;
}
.footer a {
  color: inherit;
  line-height: 26px;
}
.footer p {
  margin: 0;
}
.footer .kamod-cr {
  position: relative;
  padding-left: 35px;
}
.footer .kamod-cr::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  display: inline-block;
  width: 23px;
  height: 26px;
  background: url(../img/sprites.png);
  background-position: 0 0;
}
.footer .kamod-cr:hover {
  color: #3a638f;
}
.footer .kamod-cr:hover:before {
  background-position: 0 -30px;
}
/******PLAGINS*******/

.bx-wrapper {
  position: relative;
}
.bx-controls-direction {
  position: absolute;
  width: 100%;
  font-weight: 300;
}
.bx-controls-direction .bx-prev,
.bx-controls-direction .bx-next {
  position: absolute;
  background: url(../img/control-sprite.png);
}
.spec-slider .bx-controls-direction {
  top: 13%;
  font-size: 60px;
}
.spec-slider .bx-controls-direction .bx-prev,
.spec-slider .bx-controls-direction .bx-next {
  width: 25px;
  height: 30px;
}
.spec-slider .bx-controls-direction .bx-prev {
  left: 0;
  background-position: 0 0;
}
.spec-slider .bx-controls-direction .bx-prev:hover {
  background-position: 0 -35px;
}
.spec-slider .bx-controls-direction .bx-next {
  right: 0;
  background-position: -30px 0;
}
.spec-slider .bx-controls-direction .bx-next:hover {
  background-position: -30px -35px;
}
.reviews-slider {
  margin-top: 132px;
}
.reviews-slider .bx-prev,
.reviews-slider .bx-next {
  width: 13px;
  height: 15px;
  background-size: 28px;
}
.reviews-slider .bx-prev {
  left: 0;
}
.reviews-slider .bx-prev:hover {
  background-position: 0 -18px;
}
.reviews-slider .bx-next {
  left: 20px;
  background-position: -15px 0;
}
.reviews-slider .bx-next:hover {
  background-position: -15px -18px;
}
